.popup__title {
    margin: 0;
    font-size: 24px;
    font-family: inter, "Helvetica Neue", "Arial", sans-serif;
    font-style: normal;
    line-height: 29px;
    font-weight: 900;
    margin-left: 0;
    margin-bottom: 48px;
    margin-top: 34px;
}

@media (max-width: 690px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        margin-top: 0;
        margin-bottom: 74px;
    }
}
