.login__container {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 80px;
    width: 358px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 400px) {
    .login__container {
        width: 260px;
        margin-top: 45px;
    }
}